# Copy this file to .env and update with your own values.
# Do NOT commit your .env file.

BASE_URL=https://www.saucedemo.com
HEADLESS=false
STANDARD_USER_USERNAME=
STANDARD_USER_PASSWORD=
LOCKED_OUT_USER_USERNAME=
LOCKED_OUT_USER_PASSWORD=
