# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
test-results/

# Cucumber / Reports
allure-results/
allure-report/

# Env
.env

# OS files
.DS_Store

# Logs
logs/
*.log

# IDE
.vscode/
.idea/